<%= @phoneme.phoneme %> appears in <%= @phoneme.languages.count %> languages:

<ul>
	<% @phoneme.languages.each do |language| %>
		<li>
			<%= link_to language.name_and_source, language_path(language) %>
		</li>
	<% end %>
</ul>

<p>Features:
	<table>
		<% @phoneme.segment.attributes.each do |k, v| %>
			<% next if k == "id" || k == "segment" %>
			<tr>
				<td>
					<%= k.gsub("_"," ") %>
				</td>
				<td>
					<%= v.nil? ? "nil" : v %>
				</td>
			</tr> 
		<% end %>
	</table>
</p>