<%= form_tag({controller: "languages", action: "search_results"}, method: "get") do %>
  <p>
  	Find languages that
  	<%= select_tag :contains,  options_for_select([['do contain', nil], ['do not contain', 'donotcontain']], nil) %>
  	<%= select_tag :number,    options_for_select([['any', nil]].concat((1..10).map{|i|[i,i]}), nil) %>
  	<%= select_tag :number_or, options_for_select([['number of', nil], ['or less', '<='], ['or more', '>=']], nil) %>
  </p>
  <p>
 		segments with the following criteria:
    <%= select_param :syllabic,                "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :tone                                                                                          %>
    <%= select_param :stress                                                                                        %>
    <%= select_param :short                                                                                         %>
    <%= select_param :long                                                                                          %>
    <%= select_param :consonantal,             "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :sonorant,                "+", "-", "+,-", "-,+", "+,-,+", "+,-,-",                  "+,-,+,-" %>
    <%= select_param :continuant,              "+", "-", "+,-", "-,+",                   "-,+,+"                    %>
    <%= select_param :delayed_release,         "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :approximant,             "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :tap,                     "+", "-",        "-,+"                                               %>
    <%= select_param :trill,                   "+", "-",        "-,+"                                               %>
    <%= select_param :nasal,                   "+", "-", "+,-", "-,+",          "+,-,-",                  "+,-,+,-" %>
    <%= select_param :lateral,                 "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :labial,                  "+", "-", "+,-", "-,+",          "+,-,-", "-,+,+"                    %>
    <%= select_param :round,                   "+", "-",        "-,+"                                               %>
 		<%= select_param :labiodental,             "+", "-",        "-,+"                                               %>
    <%= select_param :coronal,                 "+", "-", "+,-", "-,+", "+,-,+"                                      %>
    <%= select_param :anterior,                "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :distributed,             "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :strident,                "+", "-", "+,-", "-,+",                           "-,+,-"            %>
    <%= select_param :dorsal,                  "+", "-", "+,-", "-,+",          "+,-,-",         "-,+,-"            %>
    <%= select_param :high,                    "+", "-", "+,-", "-,+", "+,-,+"                                      %>
    <%= select_param :low,                     "+", "-", "+,-", "-,+",                           "-,+,-"            %>
    <%= select_param :front,                   "+", "-", "+,-", "-,+", "+,-,+", "+,-,-", "-,+,+"                    %>
    <%= select_param :back,                    "+", "-", "+,-", "-,+",          "+,-,-", "-,+,+"                    %>
    <%= select_param :tense,                   "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :retracted_tongue_root                                                                         %>
    <%= select_param :advanced_tongue_root                                                                          %>
    <%= select_param :periodic_glottal_source, "+", "-", "+,-", "-,+", "+,-,+", "+,-,-"                             %>
    <%= select_param :epilaryngeal_source                                                                           %>
    <%= select_param :spread_glottis,          "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :constricted_glottis,     "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :fortis                                                                                        %>
    <%= select_param :ejective                                                                                      %>
    <%= select_param :implosive,               "+", "-", "+,-", "-,+"                                               %>
    <%= select_param :click                                                                                         %>
  </p>
  <p>
    <%= submit_tag "Search" %>
  </p>
<% end %>