<p><%= @language.name_and_source %></p>
<p>
	Consonants: <%= @consonants.count %>
	<ul>
		<% @consonants.each do |consonant| %>
			<li><%= consonant.phoneme %></li>
		<% end %> 
	</ul>
	Vowels: <%= @vowels.count %>
	<ul>
		<% @vowels.each do |vowel| %>
			<li><%= vowel.phoneme %></li>
		<% end %>
	</ul>
	Tones: <%= @tones.count %>
	<ul>
		<% @tones.each do |tone| %>
			<li><%= tone.phoneme %></li>
		<% end %>
	</ul>
</p>