<p><%= @language.name_and_source %></p>

<div id="mapid"></div>
<script>
	var lmap = L.map('mapid').setView([<%= @language.latitude %>, <%= @language.longitude %>], 5);

	L.tileLayer('https://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=<%=ENV["THUNDERFOREST_API_KEY"]%>', {
    	attribution: 'Thunderforest',
    	maxZoom: 18,
    	id: '',
    	accessToken: '<%=ENV["THUNDERFOREST_API_KEY"]%>'
	}).addTo(lmap);

	// custom icon type to allow customization of icon graphic
	var licon = L.icon({
		iconUrl: "<%= asset_path 'marker-icon.png' %>", 
		shadowUrl: "<%= asset_path 'marker-shadow.png' %>",
		iconAnchor: [12, 40]
	});

	var marker = L.marker([<%= @language.latitude %>, <%= @language.longitude %>],
		{icon: licon}).addTo(lmap);
</script>

<p>
	Consonants: <%= @consonants.count %>
	<ul>
		<% @consonants.each do |consonant| %>
			<li><%= link_to consonant.phoneme, phoneme_url(consonant) %></li>
		<% end %> 
	</ul>
	Vowels: <%= @vowels.count %>
	<ul>
		<% @vowels.each do |vowel| %>
			<li><%= link_to vowel.phoneme, phoneme_url(vowel) %></li>
		<% end %>
	</ul>
	Tones: <%= @tones.count %>
	<ul>
		<% @tones.each do |tone| %>
			<li><%= link_to tone.phoneme, phoneme_url(tone) %></li>
		<% end %>
	</ul>
</p>