<div id="mapid"></div>
<script>
	var lmap = L.map('mapid').setView([0, 0], 1);

	L.tileLayer('https://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=<%=ENV["THUNDERFOREST_API_KEY"]%>', {
    	attribution: 'Thunderforest',
    	maxZoom: 18,
    	id: '',
    	accessToken: '<%=ENV["THUNDERFOREST_API_KEY"]%>'
	}).addTo(lmap);

	// custom icon type to allow customization of icon graphic
	var licon = L.icon({
		iconUrl: "<%= asset_path 'marker-icon.png' %>", 
		shadowUrl: "<%= asset_path 'marker-shadow.png' %>",
		iconAnchor: [12, 40]
	});

	var langJSON = <%= @result_json.html_safe %>
	langJSON.forEach(function (langEntry) {
		// [{language}, [{phoneme}, {phoneme}...]]
		var lang = langEntry[0];
		if (!lang.latitude || !lang.longitude) {
			return;
		} // some languages don't have location data
		var marker = L.marker([lang.latitude, lang.longitude], {icon: licon}).addTo(lmap);
		// build list of phonemes
		var phonemeList = "";
		marker.bindPopup(lang.language_name + " (" + lang.source + "):<br>" + phonemeList, 
			{offset: [1,-20]});
	});
</script>

<p>
	<h1>Languages</h1>
	<table>
		<tr>
			<th>Language code</th>
			<th>Language name</th>
			<th>Phonemes</th>
		</tr>
		<% @languages.each do |language, phonemes| %>
			<tr>
				<td><%= language.language_code %></td>
				<td><%= link_to "#{language.language_name} (#{language.source})", language_url(language) %></td>
				<td>
					<% phonemes.each do |phoneme| %>
						<%= link_to phoneme.phoneme, phoneme_url(phoneme) %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</p>
<p>
	<h1>Phonemes</h1>
	<table>
		<tr>
			<th>Phoneme</th>
			<th>Count</th>
		</tr>
		<% @phonemes.each do |phoneme| %>
			<tr>
				<td><%= link_to phoneme.phoneme, phoneme_url(phoneme) %></td>
				<td><%= @phoneme_count[phoneme] %></td>
			</tr>
		<% end %>
	</table>
</p>