<h1>PHOIBLE Search Frontend</h1>

<ul>
	<li><%= link_to "List languages", languages_url %></li>
	<li><%= link_to "List phonemes", phonemes_url %></li>
	<li><%= link_to "Find phonemes and languages that contain them", search_url %></li>
	<li><%= link_to "Find phonemes by text search", text_search_url %></li>
	<li><%= link_to "Information about PHOIBLE and PHOIBLE Search", info_url %></li>
</ul>